<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Building MgMt</title>
        <script src="lib/jquery-2.1.4.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/pubnub.min.js"></script>
        <link rel="stylesheet" href="lib/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <script src="javascript/building.js"></script>
    </head>
    
    <body>

        <div style="height:500px;width:700px;"> 
            <img src="img/OfficeLayout.svg" style='height: 100%; width: 100%; object-fit: contain'>
            <img id="systemAdmin" src="img/bulboff.svg" style="height:30px;width:30px;position: absolute; top:135px; left:540px;">
            <img id="mainHall" src="img/bulboff.svg" style="height:30px;width:30px;position: absolute; top:420px; left:350px;">
            <img id="meetingRoom" src="img/bulbon.svg" style="height:30px;width:30px;position: absolute; top:160px; left:160px;">
            <img id="directorRoom" src="img/bulbon.svg" style="height:30px;width:30px;position: absolute; top:320px; left:150px;">
            <img id="reception" src="img/bulbon.svg" style="height:30px;width:30px;position: absolute; top:355px; left:470px;">
        </div>
        
    </body>
</html>